<div class="container addTopSpacing">
  <div class="table-responsive">
    <div class="container">
      <button class="btn btn-primary" style="float: right;" (click)="createRider()">Add New Bike</button>
    </div>
      <table class="table table-hover table-sm">
        <thead>
          <tr>
            <th scope="col">Id</th>
            <th scope="col">Bike Name</th>
            <th scope="col">Bike Model</th>
            <th scope="col">Bike Number</th>
            <th scope="col">Mulkiya Number</th>
            <th scope="col">Issue City</th>
            <th scope="col">Expiry Date</th>
            <th scope="col">Bike Owner</th>
            <th scope="col">Assigned Rider</th>

            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of allBikes">
            <th>{{ item.id }}</th>
            <td>{{ item.bikeName }}</td>
            <td>{{item.bikeModel}}</td>
            <td>{{item.bikeNumber}}</td>
            <td>{{item.MulkiyaNumber}}</td>
            <td>{{item.IssuCity}}</td>
            <td>{{item.ExpiryDate}}</td>
            <td>{{item.bikeOwner}}</td>
            <td>{{item.AssignedRider}}</td>
            <td>
              <button type="button" class="btn btn-info btn-sm" (click)="showDetails(item.id)">Detail</button>
              <button type="button" class="btn btn-primary btn-outline btn-sm" style="margin-left: 5px;" (click)="editRider(item.id)">Edit</button>
              <button type="button" class="btn btn-danger btn-outline btn-sm" style="margin-left: 5px;" (click)="deleteRider(item.id)">Delete</button>
            </td>
          </tr>
        </tbody>
      </table>
  </div>
</div>