<div class="container addTopSpacing">
  <div class="row g-12">
    <div class="col-md-12 col-lg-12">
      <h4 class="mb-3">Rider's details</h4>
      <form [formGroup]="riderForm" class="needs-validation" novalidate="" (ngSubmit)="submitRider()">
        <fieldset [disabled]="!isenable" *ngIf="currentRider">
          <div class="row g-3">
            <div class="col-sm-6">
              <label for="firstName" class="form-label">Name</label>
              <input formControlName="name" type="text" class="form-control" id="name" placeholder="Name" required="">
              <div class="invalid-feedback">
                Valid name is required.
              </div>
            </div>
            <div class="col-sm-6">
              <label for="rriderid" class="form-label">Rider ID</label>
              <input formControlName="rriderid" type="text" class="form-control" id="rriderid" placeholder="Rider ID"
                required="">
              <div class="invalid-feedback">
                Valid Rider ID is required.
              </div>
            </div>

            <div class="col-6">
              <label for="email" class="form-label">Email <span class="text-body-secondary">(Optional)</span></label>
              <input formControlName="email" type="email" class="form-control" id="email" placeholder="you@example.com">
              <div class="invalid-feedback">
                Please enter a valid email address.
              </div>
            </div>
            

          
            <div class="col-6">
              <label for="companyNumber" class="form-label">Company Number</label>
              <input formControlName="companyNumber" type="text" class="form-control" id="companyNumber"
                placeholder="Company Number">
            </div>


            <div class="col-6">
              <label for="personalNumber" class="form-label">Personal Number</label>
              <input formControlName="personalNumber" type="text" class="form-control" id="personalNumber"
                placeholder="Personal Number">
            </div>


            <div class="col-2">
              <label for="Emirates ID" class="form-label">Emirates ID</label>
              <input formControlName="emirateId" type="text" class="form-control" id="Emirates Id"
                placeholder="EmirateId">
            </div>
            <div class="col-2">
              <label for="EmIssueDate" class="form-label">Issue Date</label>
              <input formControlName="emissuedate" type="date" class="form-control" id="EmIssueDate">
            </div>
            <div class="col-2">
              <label for="emexpiredate" class="form-label">Expiry Date</label>
              <input formControlName="emexpiredate" type="date" class="form-control" id="emexpiredate">
            </div>
            <div class="col-2">
              <label for="labourCard" class="form-label">Labour Card</label>
              <input formControlName="labourCard" type="text" class="form-control" id="labourCard"
                placeholder="Labour Card">
            </div>
            <div class="col-2">
              <label for="lbissuedate" class="form-label">Issue Date</label>
              <input formControlName="lbissuedate" type="date" class="form-control" id="lbissuedate">
            </div>
            <div class="col-2">
              <label for="lbExpiredate" class="form-label">Expiry Date</label>
              <!-- <input formControlName="lbExpiredate" type="text" class="form-control" id="lbExpiredate"> -->

              <input type="date" formControlName="lbExpiredate" value="{{ currentRider.lbExpiredate | date:'yyyy-MM-dd' }}" class="form-control" id="lbExpiredate">


            </div>
            <!-- <div class="col-6">
              <label for="City" class="form-label"> Working City</label>
              <select formControlName="City" class="form-select" id="City">
                <option value="Sharjah">Sharjah</option>
                <option value="DXB">DXB (Dubai)</option>
                <option value="Abu Dhabi">Abu Dhabi</option>
                <option value="Ajman">Ajman</option>
                <option value="Al Ain">Al Ain</option>
                <option value="Ras Al Khaimah">Ras Al Khaimah</option>
              </select>
            </div>
            <div class="col-6">
              <label for="WorkingStatus" class="form-label">Working Status</label>
              <select formControlName="WorkingStatus" class="form-select" id="WorkingStatus">
                <option value="Active">Active</option>
                <option value="Inactive">Inactive</option>
                <option value="Vacation">Vacation</option>
                <option value="Left">Left</option>
              </select>
            </div>
            <div class="col-6">
              <label for="VisaSponsor" class="form-label">Visa Sponsor</label>
              <select formControlName="VisaSponsor" class="form-select" id="VisaSponsor">
                <option value="247 On Time">247 On Time</option>
                <option value="Feni Top">Feni Top</option>
                <option value="TT Delivery">TT Delivery</option>
                <option value="Other">Other</option>
              </select>
            </div>
            <div class="col-6">
              <label for="Visa Category" class="form-label">Visa Category</label>
              <select formControlName="Visa Category" class="form-select" id="Visa Category">
                <option value="Bike Rider">Bike Rider</option>
                <option value="Car Driver">Car Driver</option>
                <option value="Marketing Manager">Marketing Manager</option>
                <option value="Other">Other</option>
              </select>
            </div> -->
            <div class="col-6">
              <label for="passportNumber" class="form-label">Passport Number</label>
              <input formControlName="passportNumber" type="text" class="form-control" id="passportNumber"
                placeholder="Passport Number">
            </div>
            <div class="col-6">
              <label for="licensenumber" class="form-label">Passport Number</label>
              <input formControlName="licensenumber" type="text" class="form-control" id="licensenumber"
                placeholder="License Number">
            </div>
            
          </div>
        </fieldset>
        <div class="col-12" style="float: right; margin-top: 20px;">
          <button class="btn btn-primary btn-lg" style="margin-right: 10px;"
            (click)="BackToRiderListing()">Back</button>
          <button *ngIf="!isenable" class="btn btn-success btn-lg" (click)="editRider(currentRider.id)">Edit</button>
          <button type="submit" *ngIf="isenable && !isNew" class="btn btn-success btn-lg">Update</button>
          <button type="submit" *ngIf="!isenable" class="btn btn-danger btn-lg"
            style="margin-left: 10px;">Delete</button>
          <button type="submit" *ngIf="isNew" class="btn btn-danger btn-lg" style="margin-left: 10px;">Create</button>
        </div>
      </form>
    </div>
  </div>
</div>